Repository Amachoma/ci-cd-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, jest, workflow

Main workflow yarn package
  .github/workflows/main.yml
Labels: workflow

Improve testing workflow
  .github/workflows/main.yml
Labels: workflow

Test custom hook push
  hooks/customHook/customHook.ts
Labels: none

Test custom hook test
  hooks/customHook/customHook.test.js
Labels: jest

Failing component tests
  components/base/VirtualizedGrid/VirtualizedGrid.test.js
Labels: jest

Failing component tests with added component
  components/test/smthDifferent.ts
Labels: none

Workflow
  .github/workflows/label.yml
  .github/workflows/main.yml
Labels: workflow

Test
  .github/workflows/main.yml
  components/test/smthDifferent.ts
Labels: workflow

Test
  .github/workflows/main.yml
  components/DeviceScrollbar/DeviceScrollbar.tsx
Labels: workflow

Test
  .github/workflows/main.yml
Labels: workflow

Test
  .github/workflows/main.yml
Labels: workflow

.gitignore
  .gitignore
Labels: none

Workflow update
  .github/workflows/test.yml
  .gitignore
  components/DeviceScrollbar/DeviceScrollbar.tsx
  components/base/VirtualizedGrid/VirtualizedGrid.test.js
  components/test/smthDifferent.ts
  package.json
Labels: jest, workflow

Workflow update
  .github/workflows/test.yml
Labels: workflow

.github/labeler.yml:

frontend:
  - any: ['**/*.ts', '**/*.tsx']

jest:
  - '**/*.test.js'

workflow:
  - '.github/workflows/**'
